* {
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
}

.user_form {
    display: inline-block;
    background-color: #F5F5FA;
    padding: 10px;
    border-radius: 10px

}

.user_form label {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}


input:focus {background: none;
    border: none;}
.err_div{
    color: red;
    font-size: 15px;
}


